@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-image: url('/slide_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background-image: url('/slide_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.bg-layer {
  background-image: url('/bg_layer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  padding-top: 80px; /* Navbar'ın yüksekliğine göre ayarlanır */
}
